/* .olt-light-heading{
    color: var(--charcoal-black);
}
.olt-dark-heading{
    color: var(--pure-white);
}
.olt-light-text{
    color: var(--charcoal-black-75);
}
.olt-dark-text{
    color: var(--pure-white-75);
} */

.olt-bulleted-list-ul{
    list-style-type: square; /* Set the list item marker to square */
}

.olt-bulleted-list-li::marker{
    color: var(--crimson-red);
}

.olt-bulleted-list-li.olt-indented-li::marker{
    color: var(--pale-blue);
}