<div class="one-line-text one-line-text-{{ name }}" id="{{module.anchor_tag}}">
    {% if module.olt_show_heading == "true" %}
        <div class="olt-heading color{% if module.olt_dark_mode == "true" %}{{ module.heading_group.olt_heading_darkmode_color }}{% else %}{{ module.heading_group.olt_heading_lightmode_color }}{% endif %}">
            <{{ module.heading_group.olt_heading_font }} class="font-{{ module.heading_group.olt_heading_font }}">{{ module.heading_group.olt_heading_text }}</{{ module.heading_group.olt_heading_font }}>
        </div>
    {% endif %}
    {% if module.olt_show_text == "true"%}
        <div class="olt-text color{% if module.olt_dark_mode == "true" %}{{ module.body_group.olt_text_darkmode_color }}{% else %}{{ module.body_group.olt_text_lightmode_color }}{% endif %}">
            {% if module.body_group.olt_bulleted_list == "true"%}
                <ul class="olt-bulleted-list-ul">
                    {% for bullet in module.body_group.olt_bullets %}
                        {% if bullet.olt_bullet_indent == "true" %}
                            <ul class="olt-bulleted-list-ul olt-indented-ul">
                                <li class="olt-bulleted-list-li olt-indented-li font-body-bullets">{{ bullet.olt_bullet_text }}</li>
                            </ul>
                        {% else %}
                            <li class="olt-bulleted-list-li font-body-bullets">{{ bullet.olt_bullet_text }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p class="font-{{ module.body_group.olt_text_font }}">{{ module.body_group.olt_text }}</p>
            {% endif %}
        </div>
    {% endif %}

</div>

<!-- ******** MODULE ******** -->
<!-- ____ EU One Line Text ___ -->

<style>
    .one-line-text-{{ name }}{
        {{ module.styles.olt_text_spacing.css }}
        {{ module.styles.olt_text_alignment.css }}
    }
    
    {% if module.olt_show_text == "true" and module.olt_show_heading == "true"%}
    .olt-text{
        padding-top: var(--padding-md);
    }
    {% endif %}
</style>

<!-- ____ eu-olt-END ___ -->