<!-- ******** MODULE ******** -->
<!-- ____ EU Pull Quote ___ -->


<div class="pullquote {{ module.pq_background }} pullquote-{{ name }}">
    <div class="pq-inner">
        <div class="pq-quote-cont">
            <div class="pq-mark-open-cont">
                <h1 class="pq-quote-mark pq-mark-open"><img src="https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/Quotes.svg" /></h1>
            </div>
            <div class="pq-quote-text-cont">
                <h4 class="pq-quote-text">{{ module.pq_text }}</h4>
            </div>
            
        </div>
        <div class="pq-author-cont">



        {% if module.pq_show_profile == "true" %}
            <div class="pq-profile">
                {% if module.pq_profile.src %}
                    {% set sizeAttrs = 'width="{{ module.pq_profile.width|escape_attr }}" height="{{ module.pq_profile.height|escape_attr }}"' %}
                    {% if module.pq_profile.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ module.pq_profile.width|escape_attr }}" height="{{ module.pq_profile.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% elif module.pq_profile.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ module.pq_profile.max_width|escape_attr }}" height="{{ module.pq_profile.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                    {% endif %}
                    {% set loadingAttr = module.pq_profile.loading != 'disabled' ? 'loading="{{ module.pq_profile.loading|escape_attr }}"' : '' %}
                    <img src="{{ module.pq_profile.src|escape_url }}" alt="{{ module.pq_profile.alt|escape_attr }}" {{ loadingAttr }} >
                {% endif %}
            </div>
        {% endif %}




            {% if module.pq_show_client_logo == "true" %}
                <div class="pq-client-logo">
                    {% if module.pq_client_logo.src %}
                        {% set sizeAttrs = 'width="{{ module.pq_client_logo.width|escape_attr }}" height="{{ module.pq_client_logo.height|escape_attr }}"' %}
                        {% if module.pq_client_logo.size_type == 'auto' %}
                            {% set sizeAttrs = 'width="{{ module.pq_client_logo.width|escape_attr }}" height="{{ module.pq_client_logo.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                        {% elif module.pq_client_logo.size_type == 'auto_custom_max' %}
                            {% set sizeAttrs = 'width="{{ module.pq_client_logo.max_width|escape_attr }}" height="{{ module.pq_client_logo.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                        {% set loadingAttr = module.pq_client_logo.loading != 'disabled' ? 'loading="{{ module.pq_client_logo.loading|escape_attr }}"' : '' %}
                        <img src="{{ module.pq_client_logo.src|escape_url }}" alt="{{ module.pq_client_logo.alt|escape_attr }}" {{ loadingAttr }} >
                    {% endif %}
                </div>
            {% endif %}
            <div class="pq-author-details">
                <div class="pq-author">
                    {% if module.pq_show_author == "true" %}<p class="pq-author-text">{{ module.pq_author }}</p>{% endif %}
                </div>
                <div class="pq-author-title">
                    {% if module.pq_show_author_title == "true" %}<p class="pq-author-title-text">{{ module.pq_author_title }}</p>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ____ eu-pq-END ___ -->