<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  {% dnd_area "footer"
    label="Footer",
    class="footer__container content-wrapper"
  %}


    {% dnd_section
    padding={'top': 0, 'bottom': 0, 'left': 0, 'right': 0},
    max_width=1200,
    full_width = false,
    background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': 'https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/footer_background.png'
      },
    %}
      {% dnd_column 
      width=4,
      background_color='#dbe5ec',
      padding={'top': 64, 'bottom': 64, 'left': 32, 'right': 32} 
      %}
        {% dnd_row %}
          {% dnd_module 'logo' 
            path='../../modules/logo-eu.module' 
            image_field={
              src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/Logo.svg"
            }
          %}{% end_dnd_module %}
        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_module "rich_text" path="@hubspot/rich_text"
            html="<p>EPI-USE is the world's largest and most experienced independent SAP HR/Payroll specialist and has emerged as a leader in designing, building, and implementing Cloud-based, hybrid and on-premises HR/Payroll systems for large, complex multinational corporations and public sector agencies.</p>"
          %}

          {% end_dnd_module %}
        {% end_dnd_row %}



        {% dnd_row %}

          {% dnd_column width=6 %}
            {% dnd_row %}
              {% dnd_module 'logo-grid' 
                path='../../modules/logo-grid-eu.module',
                lg_show_heading="false",
                lg_logos=[
                  {
                    lg_logo: {
                      src: "https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/logo-placeholder-base.png"
                    }
                  }
                ]
              %}{% end_dnd_module %}
    
            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module 'logo-grid' 
                path='../../modules/logo-grid-eu.module',
                lg_show_heading="false",
                lg_logos=[
                {
                  lg_logo: {
                    src: "https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/logo-placeholder-base.png"
                  }
                }
                ]
              %}{% end_dnd_module %}
    
            {% end_dnd_row %}
          {% end_dnd_column %}
             
          
        {% end_dnd_row %}


        {% dnd_row %}

          {% dnd_column width=6 %}
            {% dnd_row %}
              {% dnd_module 'logo-grid' 
                path='../../modules/logo-grid-eu.module',
                lg_show_heading="false",
                lg_logos=[
                  {
                    lg_logo: {
                      src: "https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/GE-mobile-light.svg"
                    }
                  }
                ]
              %}{% end_dnd_module %}
    
            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module 'logo-grid' 
                path='../../modules/logo-grid-eu.module',
                lg_show_heading="false",
                lg_logos=[
                {
                  lg_logo: {
                    src: "https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/ERP-mobile-light.svg"
                  }
                }
                ]
              %}{% end_dnd_module %}
    
            {% end_dnd_row %}
          {% end_dnd_column %}
             
          
        {% end_dnd_row %}
        
      {% end_dnd_column %}
      {% dnd_column width=8, offset=4,
      background_color='#051741',
      padding={'top': 64, 'bottom': 64, 'left': 32, 'right': 32}  %}
        {% dnd_row padding={'top':0,'bottom':32,'left':0, 'right': 0} %}
          {% dnd_column width=6 %}
            {% dnd_row %}
              {% dnd_module "rich_text" path="@hubspot/rich_text"
                html="
                  <h6 style='color: white;'>Headline on benefit of the newsletter.</h6>
                  <p style='color: rgba(255, 255, 255, 0.75)'>Lorem ipsum dolor sit amet consectetur.</p>
                "
              %}{% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}


          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module "form" 
              path="@hubspot/form" 
              form={
                "form_id": "643837ed-36b8-46ea-8e47-4b1cc1bbaaa7", 
                "response_type": "redirect", 
                "message": "Thanks for submitting the form.", 
                "redirect_id": null, 
                "redirect_url": "http://www.google.com" 
              }
              %}{% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}



        {% end_dnd_row %}

        {% dnd_row %}
          {% dnd_column width=3 %}

            {% dnd_row %}

              {% dnd_module 'title' 
                path='../../modules/one-line-text-eu.module' 
                olt_show_heading="false",
                body_group={
                  olt_text:"Title"
                }, 
                olt_dark_mode="true",
              %}{% end_dnd_module %}
            {% end_dnd_row %}

            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=3 , offset=3 %}
            {% dnd_row %}

              {% dnd_module 'title' 
                path='../../modules/one-line-text-eu.module' 
                olt_show_heading="false",
                body_group={
                  olt_text:"Title"
                }, 
                olt_dark_mode="true",
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=3, offset=6 %}
            {% dnd_row %}

              {% dnd_module 'title' 
                path='../../modules/one-line-text-eu.module' 
                olt_show_heading="false",
                body_group={
                  olt_text:"Title"
                }, 
                olt_dark_mode="true",
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module'
                type="pri-inv" 
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=3, offset=9 %}
            {% dnd_row %}

              {% dnd_module 'title' 
                path='../../modules/one-line-text-eu.module' 
                olt_show_heading="false",
                body_group={
                  olt_text:"Title"
                }, 
                olt_dark_mode="true",
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/link-eu.module' 
                type="pri-inv"
                size="md"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          
        {% end_dnd_row %}

        {% dnd_row padding={'top':32,'bottom':0,'left':0, 'right': 0} %}
          {% dnd_column width=5 %}
            {% dnd_row %}
              {% dnd_module "rich_text" path="@hubspot/rich_text"
                html="<span style='color: white; font-size: 12px;'>Copyright 2024 EPI-USE</span>"
              %}{% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=6, offset=5 %}
            {% dnd_row %}

              {% dnd_module 'logo' 
                path='../../modules/links-eu.module',
                links=[
                {
                  text_field:"Label",
                  type:"pri-inv",
                  trailing_icon:"true",
                  size: "sm"
                },
                {
                  text_field:"Label",
                  type:"pri-inv",
                  trailing_icon:"true",
                  size: "sm"
                },
                {
                  text_field:"Label",
                  type:"pri-inv",
                  trailing_icon:"true",
                  size: "sm"
                },
                {
                  text_field:"Label",
                  type:"pri-inv",
                  trailing_icon:"true",
                  size: "sm"
                }
                ] 
                
              %}{% end_dnd_module %}

            {% end_dnd_row %}
          {% end_dnd_column %}

          {% dnd_column width=1, offset=11 %}
            {% dnd_row %}
              
              {% dnd_module "linkedin" path="@hubspot/linked_image"
               img={
                src: "https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/linkedin.png",
                width: "21"
               }
              %}{% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
              
        {% end_dnd_row %}
        
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</footer>
