/* .article-card-sizing{
  min-height: 357px;
  max-height: 640px;
  max-width: 795px;   
  min-width: 343px;
}
.article-card-a{
  display: block;
  padding: 0;
  
}

.article-card{
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;

  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

.ac-big{
  height: 490px;
}

.ac-small{
  height: 400px;
}

.ac-hug{
  width: 412px;
}

.ac-arrow-icon{
  width: 48px;
  height: 48px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 64px;
  margin: var(--margin-lg);
  box-sizing: border-box;
  display: inline-block;
}

.ac-arrow-icon i {
  width: 48px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ac-text-content{
  text-align: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: var(--margin-lg);
}

.ac-img{
  color: var(--pure-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ac-pr-white{
  background-color: var(--pure-white);
  color: var(--midnight-blue);
}

.ac-mnt-blue{
  background-color: var(--midnight-blue);
  color: var(--pure-white);
}
.ac-mnt-blue .ac-arrow-icon{
  color: var(--pale-blue);
}

.ac-ple-blue{
  background-color: var(--pale-blue);
  color: var(--pure-white);
}
.ac-ple-blue .ac-arrow-icon{
  color: var(--midnight-blue);
}

.ac-img .ac-date, .ac-mnt-blue .ac-date, .ac-ple-blue .ac-date{
  color: var(--pure-white-75);
}
.ac-pr-white .ac-date{
  color: var(--midnight-blue-75);
}

.article-card:hover, .article-card:focus{
  box-shadow: var(--shadow-2xl);
}


.article-card:active, .article-card:focus-visible{
  box-shadow: var(--shadow-lg);
  outline:none;
}


.article-card.ac-img:focus, .article-card.ac-mnt-blue:focus{
  border: 4px solid var(--pale-blue);
}
.article-card.ac-pr-white:focus, .article-card.ac-ple-blue:focus{
  border: 1.5px solid var(--midnight-blue);
}


.ac-heading-text{
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  margin-bottom: 8px;
}
.ac-date{
  font-family: var(--caption-semibold-font-family);
  font-size: var(--caption-semibold-font-size);
  font-weight: var(--caption-semibold-font-weight);
  line-height: var(--caption-semibold-line-height);
  margin-bottom: 8px;
}
.ac-title{
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  line-height: var(--h5-line-height);
  margin-top: 0px;
  margin-bottom: 8px;
}
.ac-body-text{
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
} */

.article-card-container.align-right {
  justify-content: flex-end;
}
.article-card-container.align-center {
  justify-content: center;
}