{% set href = module.not_link_field.url.href %}
{% if module.not_link_field.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href = "mailto:" + href %}
{% endif %}

<!-- ******** MODULE ******** -->
<!-- ____ EU Notification ___ -->

{% if module.not_show_arrow == "true" %}
<a  
  {% if href %}
    href="{{ href|escape_url }} "
    {% if module.not_link_field.open_in_new_tab %}target="_blank"{% endif %}
    {% if module.not_link_field.rel %}rel="{{ module.not_link_field.rel|escape_attr }}"{% endif %}
  {% endif %}
  class="notification-a {{ name }}"
>
{% endif %}
  <div class="notification {{ module.not_type }}">
    <div class="not-content">
      <div class="not-text-content">
        {% if module.not_show_icon == "true" %}
          <div class="not-leading-icon">
            <functional-icons-eu-wc
              att-icon="{% if module.icon_category == "cat-arrows" && module.cat_arrows %}{{module.cat_arrows}}{% 
                elif module.icon_category == "cat-data" && module.cat_data %}{{module.cat_data}}{% 
                elif module.icon_category == "cat-editing" && module.cat_editing %}{{module.cat_editing}}{% 
                elif module.icon_category == "cat-foundations" && module.cat_foundations %}{{module.cat_foundations}}{% 
                elif module.icon_category == "cat-company" && module.cat_company %}{{module.cat_company}}{% 
                elif module.icon_category == "cat-alerts" && module.cat_alerts %}{{module.cat_alerts}}{% 
              endif %}"
              att-type="light"
              att-size="59"
              att-color="{% if module.not_type == "not-inverted" %}--charcoal-black{% else %}--pure-white{% endif %}"
              att-color-opacity=""
              class="not-function-icon"
            ></functional-icons-eu-wc>
          </div>
        {% endif %}
        <p class="not-body-text">{{ module.not_body_text }}</p>
      </div>
      {% if module.not_show_arrow == "true" %}
        <div class="not-arrow-icon">
          <i class="arrow-icon fa-regular fa-arrow-up-right"></i>
        </div>
      {% endif %}
    </div>
    <div class="not-buttons">
      {% if module.not_show_buttons %}
        <div class="not-btn-cont"><!-- Note add 'display: flex' to container if multiple web components are next to each other to remove white space between them -->
          {% if module.left_button.show_button %}
            <button-eu-wc class="not-btn-left"
                            data-label="{{ module.left_button.button_label }}"
                            att-size="btn-med"
                            att-type="{{ module.left_button.button_type }}"
                            att-disabled="false"
                            att-url="{{ module.left_button.link.url.href }}"
                            att-show-icon="true"
                            att-lead-icon="{{ module.left_button.button_leading_icon }}"
                            att-icon="{% if module.left_button.icon_category == "cat-arrows" && module.left_button.cat_arrows %}{{module.left_button.cat_arrows}}{% 
                              elif module.left_button.icon_category == "cat-data" && module.left_button.cat_data %}{{module.left_button.cat_data}}{% 
                              elif module.left_button.icon_category == "cat-editing" && module.left_button.cat_editing %}{{module.left_button.cat_editing}}{% 
                              elif module.left_button.icon_category == "cat-foundations" && module.left_button.cat_foundations %}{{module.left_button.cat_foundations}}{% 
                              elif module.left_button.icon_category == "cat-company" && module.left_button.cat_company %}{{module.left_button.cat_company}}{% 
                              elif module.left_button.icon_category == "cat-alerts" && module.left_button.cat_alerts %}{{module.left_button.cat_alerts}}{% 
                          endif %}"
            ></button-eu-wc>
          {% endif %}
          {% if module.right_button.show_button %}
            <button-eu-wc class="not-btn-right"
                          data-label="{{ module.right_button.button_label }}"
                          att-size="btn-med"
                          att-type="{{ module.right_button.button_type }}"
                          att-disabled="false"
                          att-url="{{ module.right_button.link.url.href }}"
                          att-show-icon="true"
                          att-lead-icon="{{ module.right_button.button_leading_icon }}"
                          att-icon="{% if module.right_button.icon_category == "cat-arrows" && module.right_button.cat_arrows %}{{module.right_button.cat_arrows}}{% 
                            elif module.right_button.icon_category == "cat-data" && module.right_button.cat_data %}{{module.right_button.cat_data}}{% 
                            elif module.right_button.icon_category == "cat-editing" && module.right_button.cat_editing %}{{module.right_button.cat_editing}}{% 
                            elif module.right_button.icon_category == "cat-foundations" && module.right_button.cat_foundations %}{{module.right_button.cat_foundations}}{% 
                            elif module.right_button.icon_category == "cat-company" && module.right_button.cat_company %}{{module.right_button.cat_company}}{% 
                            elif module.right_button.icon_category == "cat-alerts" && module.right_button.cat_alerts %}{{module.right_button.cat_alerts}}{% 
                        endif %}"
           ></button-eu-wc>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

{% if module.not_show_arrow == "true" %}
</a>
{% endif %}

<!-- ____ eu-not-END ___ -->