.notification-a{
  padding:0;
}
.notification-a:hover{
  text-decoration: none;
}

.notification{
  cursor: pointer;
  text-decoration: none;
  min-width: 357px;
  backdrop-filter: blur(var(--blur-lg));
}

.not-content{
  display: flex;
  justify-content: space-between;
}

.not-leading-icon{
  display: flex;
  align-items: center;
  margin-right: var(--margin-lg);
}

@media (max-width: 768px) {
  .not-leading-icon{
    display: none;
  }
}

.not-function-icon{
  width: 73px;
}

.not-text-content{

  padding: var(--padding-lg) var(--padding-xl) var(--padding-lg) var(--padding-lg);
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.not-arrow-icon{
  font-size: 48px;
  padding: var(--margin-lg) var(--margin-md-lg);
  display: flex;

  
}

.not-buttons{

  display: flex;
  justify-content: flex-end;
}


.not-btn-cont{
  display: flex;/*<!-- Note add 'display: flex' to container if multiple web components are next to each other to remove white space between them -->*/
} 


/* ======== AC TYPE ======== */
.not-default{
  background-color: var(--midnight-blue-75);
  color: var(--pure-white);
  
}

.not-inverted{
  background-color: var(--pure-white-75);
  color: var(--charcoal-black);
}

.not-error{
  background-color: var(--crimson-red-75);
  color: var(--pure-white);
}

.not-success{
  background: linear-gradient(var(--midnight-blue-10), var(--midnight-blue-10)), linear-gradient(var(--success-green-75), var(--success-green-75));
  color: var(--pure-white);
}

/* ======== AC TYPOGRAPHY ======== */

.not-text-content .not-body-text{
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  margin: 0;
}