<!-- ******** MODULE ******** -->
<!-- ____ EU Icon Square ___ -->
<div class="icon-squares icon-squares{{name}}">
    {% if module.is_squares|length > 1 %}
    <div class="icon-squares-inner container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center justify-content-sm-{% if module.styles.is_align_content.horizontal_align == "LEFT" %}start{% elif module.styles.is_align_content.horizontal_align == "CENTER" %}center{% else %}end{% endif %}">
    {% endif %}
            {% for square in module.is_squares %}
                    {% set icon_color = "pale-blue" %}
                    {% if square.is_color_front == "is-ple-blue" %}
                        {% set icon_color = "midnight-blue" %}
                    {% endif %}
                    {% set icon_path = '/images/epiuse-icons/'~ icon_color ~'/' ~ square.icon ~ '.svg' %}
                    {% set icon = get_asset_url(icon_path) %}
                    

                    <div class="icon-square {{ "pt-2 pl-2" if module.is_squares|length > 1 }} {{ square.is_size }} {% if square.is_flipable == "true" %}flipable{% endif %} {{ name }}">
                        <div class="icon-square-inner">
                            <div class="icon-square-front {{ square.is_color_front }} {% if square.is_blur == "true" %}is-blur{% endif %}">
                                <div class="is-front-content">
                                    <epiuse-icons-wc
                                            att-icon="{{ icon }}"
                                            att-size="{% if square.is_size == "is-sm" %}65.5{% else %}108{% endif %}"
                                            class="is-eu-icon"
                                    ></epiuse-icons-wc>
                                    <{% if square.is_size == "is-sm" %}h6{% else %}h3{% endif %} class="icon-square-front-heading">{{ square.is_heading_text }}</{% if square.is_size == "is-sm" %}h6{% else %}h3{% endif %}>
                                </div>
                                
                            </div>
                            <div class="icon-square-back {{ square.is_color_back }}">
                                <div class="is-back-content">
                                    <p class="icon-square-back-text">{{ square.is_body_text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>             
            {% endfor %}
    {% if module.is_squares|length > 1 %}
        </div>
    </div>
    {% endif %}
</div>


<style>
    .icon-squares-inner{
        max-width: {{module.styles.is_content_width}}px;
        {% if module.styles.is_align_content.horizontal_align == "RIGHT"%}
            margin-left: auto;
            margin-right: 0px;
        {% elif module.styles.is_align_content.horizontal_align == "LEFT" %}
            margin-left: 0px;
            margin-right: auto;
        {% endif %}
    }


</style>

<!-- ____ eu-is-END ___ -->