
.list-items-container{
  display: flex;
}

.list-items-container.align-right {
  justify-content: flex-end;
}
.list-items-container.align-center {
  justify-content: center;
}

.list-items {
    list-style: none;
    padding: 0;
    margin: 0;
}