.icon-card-container{
  display: flex;
}

.icon-card-container.align-right {
  justify-content: flex-end;
}
.icon-card-container.align-center {
  justify-content: center;
}

.icon-card{
  text-decoration: none;
  min-height: 400px;
  max-height: 580px;
  min-width: 343px;
  max-width: 596px;
  padding: var(--padding-xl);
}


.pullquote h1, .pullquote h2, .pullquote h3, .pullquote h4, .pullquote h5, .pullquote p{
    margin: 0;
}

.hug{
  width: 395px;
}

.ic-inner{
  /* height:100%; */
}

/* .ic-icon{
  width: 108px;
  height: 108px;
} */

.ic-text-content{
  text-align: left;
}

/* ======== AC TYPE ======== */


.ic-pr-white{
  background-color: var(--pure-white);
  color: var(--midnight-blue);
}

.ic-mnt-blue{
  background-color: var(--midnight-blue);
  color: var(--pure-white);
}

.ic-ple-blue{
  background-color: var(--pale-blue);
  color: var(--pure-white);
}

/* ======== AC TYPOGRAPHY ======== */
.ic-text-content .ic-heading-text{
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
  margin-top: var(--margin-lg);
  margin-bottom: var(--margin-2xl);
}
.ic-text-content .ic-title{
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  margin-bottom: var(--margin-sm);

  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ic-text-content .ic-body-text{
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);

  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}