<div class="input-container input-container-{{name}} {% if module.field_required %} required {% endif %} align-{{ module.styles.input_align.horizontal_align|lower}}">
<div class="input-wrap">
    {% if module.view_label %}<label>{{module.field_label}}</label> {% endif %}
    {% if module.field_required %}<span class="required">Required</span> {% endif %}
    <div class="input">
    {% if module.size == "field" %}
        <input type="text" {% if module.disabled %}disabled{%endif %}  class="{% if module.disabled %}disabled{%endif %} status-{{module.status}}"  name="{{module.field_name}}" placeholder="{{module.placeholder}}" />
    {% else %}
        <textarea type="text" {% if module.disabled %}disabled{%endif %}  class="{% if module.disabled %}disabled{%endif %} status-{{module.status}}"  name="{{module.field_name}}" placeholder="{{module.placeholder}}"></textarea>
    {% endif %}
    {% if module.right_icon %}
        <div class="input-icon">
        <functional-icons-eu-wc
                    att-icon="{% if module.icon_category == "cat-arrows" && module.cat_arrows %}{{module.cat_arrows}}{% 
                                elif module.icon_category == "cat-data" && module.cat_data %}{{module.cat_data}}{% 
                                elif module.icon_category == "cat-editing" && module.cat_editing %}{{module.cat_editing}}{% 
                                elif module.icon_category == "cat-foundations" && module.cat_foundations %}{{module.cat_foundations}}{% 
                                elif module.icon_category == "cat-company" && module.cat_company %}{{module.cat_company}}{% 
                                elif module.icon_category == "cat-alerts" && module.cat_alerts %}{{module.cat_alerts}}{% 
                            endif %}"
                    att-type="{{ module.icon_type }}"
                    att-size="{{ module.icon_size }}"
                    att-color="{{ module.icon_color }}"
                    att-color-opacity="{% if module.icon_color_opacity != "-100" %}{{ module.icon_color_opacity }}{% endif %}"
                    class = "{{ name }}"
        ></functional-icons-eu-wc>
        </div>
    {% endif %}
    </div>

    <span class="error-message"><i class="fa-light fa-circle-exclamation"></i> {{module.error_text}}</span>

{% if module.status == "success" %} <span class="success-message"><i class="fa-light fa-circle-exclamation"></i> {{module.success_text}}</span> {% endif %}
</div>
</div>

{% require_js %}
    
    <script>
    
    
      $(document).ready(function(){

        const input = {% if module.size == "field" %} $('.input-container-{{name}} input') {% else %} $('.input-container-{{name}} textarea') {% endif %}; 
        

        if(input.val() != ''){
            input.addClass('filled');
        } else {
            input.removeClass('filled');
        }
        if($('.input-container-{{name}}').hasClass('required')){
            input.on('focusout', function(){
                if(input.val() == ''){
                    $('.input-container-{{name}}').addClass('error');
                }
            });

            input.on('change', function(){
                if(input.val() != ''){
                    $('.input-container-{{name}}').removeClass('error');
                }
            });
        }

        input.on('change', function(){
            if(input.val() != ''){
                input.addClass('filled');
            } else {
                input.removeClass('filled');
            }
        });

        
      });
    
    </script>
    
{% end_require_js %}