<!-- ******** MODULE ******** -->
<!-- ____ EU Accordian ___ -->

<div class="accordion {{ name }}">
  <div class="accordion-inner">
    <div class="acc-sections">
      {% for section in module.acc_sections %}
        <div class="acc-section">
          {% if module.acc_version == "acc-v-spacegrey"%}
            <div class="acc-section-header-number">
              <p class="acc-sec-h-nbr-text">{% if loop.index < 10 %}0{% endif %}{{ loop.index }}</p>
            </div>
          {% endif %}
          <div class="acc-section-inner">
            <div class="acc-section-header {{ module.acc_version }}">
              <div class="acc-section-header-title">
                <p class="acc-sec-h-ttl-text">
                  {{ section.sec_header_text }}
                </p>
              </div>
              <div class="acc-section-header-icon">
                <i class="acc-sec-h-ico-up fa-light fa-chevron-up"></i>
                <i class="acc-sec-h-ico-dwn fa-light fa-chevron-down"></i>
              </div>
            </div> 
            <div class="acc-section-content">
              <div class="acc-sec-cont-inner {% if module.acc_version == "acc-v-spacegrey"%}acc-space-right{% endif %}">
                {% if section.sec_show_image == "true" %}
                  <div class="sec-image">
                    {% if section.sec_image.src %}
                      {% set sizeAttrs = 'width="{{ section.sec_image.width|escape_attr }}" height="{{ section.sec_image.height|escape_attr }}"' %}
                      {% if section.sec_image.size_type == 'auto' %}
                        {% set sizeAttrs = 'width="{{ section.sec_image.width|escape_attr }}" height="{{ section.sec_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                      {% elif section.sec_image.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ section.sec_image.max_width|escape_attr }}" height="{{ section.sec_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                      {% endif %}
                      {% set loadingAttr = section.sec_image.loading != 'disabled' ? 'loading="{{ section.sec_image.loading|escape_attr }}"' : '' %}
                      <img src="{{ section.sec_image.src|escape_url }}" alt="{{ section.sec_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}
                  </div>
                {% endif %}
                <div class="acc-section-content-text">
                  {% if section.sec_show_subheading == "true" %}
                    <p class="sec-subheading-text">{{ section.sec_subheading_text }}</p>
                  {% endif %}
                  {% if section.sec_show_title == "true" %}
                    <p class="sec-title-text">{{ section.sec_title_text }}</p>
                  {% endif %}
                  {% if section.sec_show_caption == "true" %}
                    <p class="sec-caption-text">{{ section.sec_caption_text }}</p>
                  {% endif %}
                  {% if section.sec_show_body == "true" %}
                    <p class="sec-body-text">{{ section.sec_body_text }}</p>
                  {% endif %}
                </div>
                <div class="acc-section-content-buttons">
                  <div class="hs-buttons-inner"><!-- Note add 'display: flex' to container if multiple web components are next to each other to remove white space between them -->
                    {% if section.left_button.show_button %}
                      <button-eu-wc class="hs-btn-left"
                                      data-label="{{ section.left_button.button_label }}"
                                      att-size="btn-med"
                                      att-type="{{ section.left_button.button_type }}"
                                      att-disabled="false"
                                      att-url="{{ section.left_button.link.url.href }}"
                                      att-show-icon="true"
                                      att-lead-icon="{{ section.left_button.button_leading_icon }}"
                                      att-icon="{% if section.left_button.icon_category == "cat-arrows" && section.left_button.cat_arrows %}{{section.left_button.cat_arrows}}{% 
                                          elif section.left_button.icon_category == "cat-data" && section.left_button.cat_data %}{{section.left_button.cat_data}}{% 
                                          elif section.left_button.icon_category == "cat-editing" && section.left_button.cat_editing %}{{section.left_button.cat_editing}}{% 
                                          elif section.left_button.icon_category == "cat-foundations" && section.left_button.cat_foundations %}{{section.left_button.cat_foundations}}{% 
                                          elif section.left_button.icon_category == "cat-company" && section.left_button.cat_company %}{{section.left_button.cat_company}}{% 
                                          elif section.left_button.icon_category == "cat-alerts" && section.left_button.cat_alerts %}{{section.left_button.cat_alerts}}{% 
                                      endif %}"
                      ></button-eu-wc>
                    {% endif %}
                    {% if section.right_button.show_button %}
                      <button-eu-wc class="hs-btn-right"
                                      data-label="{{ section.right_button.button_label }}"
                                      att-size="btn-med"
                                      att-type="{{ section.right_button.button_type }}"
                                      att-disabled="false"
                                      att-url="{{ section.right_button.link.url.href }}"
                                      att-show-icon="true"
                                      att-lead-icon="{{ section.right_button.button_leading_icon }}"
                                      att-icon="{% if section.right_button.icon_category == "cat-arrows" && section.right_button.cat_arrows %}{{section.right_button.cat_arrows}}{% 
                                      elif section.right_button.icon_category == "cat-data" && section.right_button.cat_data %}{{section.right_button.cat_data}}{% 
                                      elif section.right_button.icon_category == "cat-editing" && section.right_button.cat_editing %}{{section.right_button.cat_editing}}{% 
                                      elif section.right_button.icon_category == "cat-foundations" && section.right_button.cat_foundations %}{{section.right_button.cat_foundations}}{% 
                                      elif section.right_button.icon_category == "cat-company" && section.right_button.cat_company %}{{section.right_button.cat_company}}{% 
                                      elif section.right_button.icon_category == "cat-alerts" && section.right_button.cat_alerts %}{{section.right_button.cat_alerts}}{% 
                                  endif %}"
                      ></button-eu-wc>
                    {% endif %}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ____ eu-acc-END ___ -->