<!-- ******** MODULE ******** -->
<!-- ____ EU Pull Quote ___ -->
<div class="quote-background" style="background-image: url({{ module.quote_background_image.src|escape_url }}); background-size: cover;">
<div class="quote-container container-{{ module.quote_orientation }}" >
    <div class="quote {{ module.quote_orientation }} quote-{{ name }}  {% if module.button.show_button %} quote-has-buttons {% endif %}">
        <div class="quote-inner">
            <div class="quote-cont">
                <div class="quote-mark-open-cont">
                    <h1 class="quote-mark quote-mark-open">"</h1>
                </div>
                <div class="quote-text-cont">
                    {% if module.quote_orientation == "quote-filled" %}
                        <h3 class="quote-text hide-on-mobile">{{ module.quote_text }}</h2>
                        <h5 class="quote-text hide-on-desktop">{{ module.quote_text }}</h5>
                    {% else %}
                        <h2 class="quote-text hide-on-mobile">{{ module.quote_text }}</h2>
                        <h5 class="quote-text hide-on-desktop">{{ module.quote_text }}</h5>
                    {% endif %}
                    
                </div>
                <div class="quote-mark-closed-cont">
                    <h1 class="quote-mark quote-mark-closed">"</h1>
                </div>
            </div>
            <div class="quote-author-cont">
                {% if module.quote_show_client_logo == "true" %}
                    <div class="quote-client-logo">
                        {% if module.quote_client_logo.src %}
                            {% set sizeAttrs = 'width="{{ module.quote_client_logo.width|escape_attr }}" height="{{ module.quote_client_logo.height|escape_attr }}"' %}
                            {% if module.quote_client_logo.size_type == 'auto' %}
                                {% set sizeAttrs = 'width="{{ module.quote_client_logo.width|escape_attr }}" height="{{ module.quote_client_logo.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                            {% elif module.quote_client_logo.size_type == 'auto_custom_max' %}
                                {% set sizeAttrs = 'width="{{ module.quote_client_logo.max_width|escape_attr }}" height="{{ module.quote_client_logo.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                            {% endif %}
                            {% set loadingAttr = module.quote_client_logo.loading != 'disabled' ? 'loading="{{ module.quote_client_logo.loading|escape_attr }}"' : '' %}
                            <img src="{{ module.quote_client_logo.src|escape_url }}" alt="{{ module.quote_client_logo.alt|escape_attr }}" {{ loadingAttr }} {{sizeAttrs}}>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="quote-author-details">
                    <div class="quote-author">
                        <p class="quote-author-text">{{ module.quote_author }}</p>
                    </div>
                    <div class="quote-author-title">
                        <p class="quote-author-title-text">{{ module.quote_author_title }}</p>
                    </div>
                </div>
            </div>
        
            <div class="quote-button">
            {% if module.button.show_button %}
                
                <button-arrow-eu-wc 
                              data-label="{{ module.button.button_label }}"
                              att-size="btn-lg"
                              att-type="{{ module.button.button_type }}"
                              att-disabled="{{ module.button.button_disabled }}"
                              att-link-field="{{ module.button.link.url.href }}"
                              att-show-icon="true"
                              att-lead-icon="{{ module.button.button_leading_icon }}"
                              att-icon='{% if module.button.icon_category == "cat-arrows" && module.button.cat_arrows %}{{module.button.cat_arrows}}{% 
                                elif module.button.icon_category == "cat-data" && module.button.cat_data %}{{module.button.cat_data}}{% 
                                elif module.button.icon_category == "cat-editing" && module.button.cat_editing %}{{module.button.cat_editing}}{% 
                                elif module.button.icon_category == "cat-foundations" && module.button.cat_foundations %}{{module.button.cat_foundations}}{% 
                                elif module.button.icon_category == "cat-company" && module.button.cat_company %}{{module.button.cat_company}}{% 
                                elif module.button.icon_category == "cat-alerts" && module.button.cat_alerts %}{{module.button.cat_alerts}}{% 
                            endif %}'
                ></button-eu-wc>
        
              {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
<!-- ____ eu-quote-END ___ -->