/* ---- PULLQUOTE ----*/
.quote-container{
    padding: var(--padding-2xl);

    max-width: 1200px;
    margin: auto;
}


.container-quote-filled {
    padding: 0 var(--padding-2xl) var(--padding-xl);
}




.quote-light{
    background-color: var(--pure-white-75);
}
.quote h1, .quote h2, .quote h3, .quote h4, .quote h5, .quote p{
    margin: 0;
}
.quote-inner{
    padding: var(--padding-lg);
    position: relative;
}
.quote-filled{
    max-width: 459px;
   background-color: var(--midnight-blue-75);
   backdrop-filter: blur(32px);
}

.quote-filled .quote-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.quote-button button-arrow-eu-wc {
    display: inline-block;
}

.quote-filled.quote-has-buttons .quote-inner{
    padding-bottom: var(--padding-2xl);
}

.quote-open{
    max-width: 992px;
}


.quote-open .quote-button {
    text-align: center;
    padding: var(--padding-xl) 0;
}

.quote-open .quote-button button-arrow-eu-wc.hide-on-mobile{
    display: inline-block;
}

@media(max-width: 768px){
    .quote-open .quote-button button-arrow-eu-wc.hide-on-desktop{
    display: inline-block;
}
}

/* ---- Quote Text ----*/

.quote-cont{
    width: 100%;
}

.quote-mark-open-cont{
    width: 100%;
    text-align: left;
}
.quote-mark-closed-cont{
    width:100%;
    text-align: right;
}
h1.quote-mark {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);

    color: var(--crimson-red)
}


.quote-filled h1.quote-mark {
    color: var(--pale-blue)
}


.quote-mark-open{

}
.quote-mark-closed{

}

.quote-text-cont{
    width: 100%;
    padding: var(--padding-md);
}

h3.quote-text{
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);

    color: var(--charcoal-black-75)

}

h2.quote-text{
    font-family: var(--h2-font-family);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);

    color: var(--charcoal-black-75);
    text-align: center;

}

h5.quote-text{
    font-family: var(--h5-font-family);
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-line-height);

    color: var(--charcoal-black-75)

}

/* ---- Author Details and Logo ----*/

.quote-author-cont{
    display: flex;
    justify-content: space-between;
}
.quote-client-logo{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: var(--padding-md)
}

.quote-client-logo img {
    max-width: 100%;
}

.quote-author-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--padding-md)
}
.quote-author{

}
p.quote-author-text{
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);

    color: var(--charcoal-black)
    }
.quote-author-title{

}
p.quote-author-title-text{
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);

    color: var(--charcoal-black)
}
.quote-filled h2.quote-text, .quote-filled h3.quote-text, .quote-filled h5.quote-text, .quote-filled p.quote-author-text, .quote-filled p.quote-author-title-text {
    color: var(--pure-white);
}
@media(max-width: 1200px){
    .quote-container {
        padding: var(--padding-xl);
    }
    .container-quote-filled {
        padding: 0 var(--padding-xl) var(--padding-xl);
    }
}

@media(max-width: 768px){

    .quote-open .quote-button {
        padding: var(--padding-lg) 0;
    }
    .quote-container {
        padding: var(--padding-xl) var(--padding-md);
    }

    .quote-author-cont {
        display: block;
        text-align: center;
    }


    .quote-client-logo {
        display: block;
        padding: 0;
    }
    .quote-author-details {
        padding: 0;
    }

    .quote-filled .quote-author-cont {
        text-align: left;
    }
    .quote-text-cont {
        text-align: center;
    }
    .quote-filled .quote-text-cont {
        text-align: left;
    }
    .quote-inner {
        padding: 0;
    }
    .quote-filled .quote-inner {
        padding: var(--padding-lg);
    }

    .quote-container .quote-filled {
        margin-bottom: 100px;
    }

    .quote-container.container-quote-filled {
        padding-top: 0;
    }
}

