<!-- ******** MODULE ******** -->
<!-- ____ EU Var Card ___ -->
<div class="var-card-container align-{{ module.styles.align_card.horizontal_align|lower }}">
<div class="var-card card-{{ module.layout }} card-{{module.media_type}} card-image-{{module.image_placement}} card-background-{{ module.background }} clearfix {{ name }}  {% if module.link_card %} linked-card {% endif %} {% if module.button_1.show_button or module.button_2.show_button %} has-buttons {% endif %}">
  {% if module.show_image %}

  {% if module.image_placement == "leading" %}


    {% if module.media_type == "icon" %}

      <div class="image image-icon">
      
      {% set icon_path = '/images/epiuse-icons/'~ module.color ~'/' ~ module.icon ~ '.svg'%}
      {% set icon = get_asset_url(icon_path)  %}

      <!-- ******** MODULE ******** -->
      <!-- ____ EU Epiuse Icons ___ -->

      <epiuse-icons-wc
                  att-icon="{{ icon }}"
                  att-size="{{ module.icon_size }}"
                  class="{{ name }}"
      ></epiuse-icons-wc>

      <!-- ____ eu-ac-END ___ -->
      </div>


    {% else %}

      <div class="image"  style="height: {{ module.image_field.height|escape_attr }}px; background-image: url({{ module.image_field.src|escape_url }}); background-size: cover; background-position: center;">
      
    </div>



    {% endif %}

    
  {% endif %}
  {% endif %}
  
  <div class="content">


    {% if module.link_card %}


      <div class="card-link-container clearfix"><a class="card-link" href="{{module.card_url.url}}"><i class="fa-light fa-arrow-up-right"></i></a></div>


    {% endif %}

    {% if module.show_subheading %}
    <h2 class="hide-on-mobile">
      {{ module.subheading }}
    </h2>
    <h3 class="hide-on-desktop">
      {{ module.subheading }}
    </h3>
    {% endif %}
    {% if  module.show_title %} 
    <h3 class="hide-on-mobile">
      {{ module.title }}
    </h3>
    <h5 class="hide-on-desktop">
      {{ module.title }}
    </h5>
    {% endif %}
    {% if module.show_date %}
    <span class="date">{{ module.month_year }}</span>
    {% endif %}
    {% if module.show_body_copy %}
    <p class="text">
      {{ module.text }}
    </p> 
    
    {% endif %}
    {% if module.show_client_logo %}
      <div class="client-logo">
        <img src="{{ module.client_logo.src|escape_url }}" />
      </div>
      {% endif %}
    
    <div class="buttons"><!-- Note add 'display: flex' to container if multiple web components are next to each other to remove white space between them -->
      {% if module.button_1.show_button %}
      
        <button-eu-wc class="hide-on-mobile"
                      data-label="{{ module.button_1.button_label }}"
                      att-size="btn-lg"
                      att-type="{{ module.button_1.button_type }}"
                      att-disabled="{{ module.button_1.button_disabled }}"
                      att-url="{{ module.button_1.link.url.href }}"
                      att-show-icon="true"
                      att-lead-icon="{{ module.button_1.button_leading_icon }}"
        ></button-eu-wc>

        <button-eu-wc class="hide-on-desktop"
                      data-label="{{ module.button_1.button_label }}"
                      att-size="btn-med"
                      att-type="{{ module.button_1.button_type }}"
                      att-disabled="{{ module.button_1.button_disabled }}"
                      att-url="{{ module.button_1.link.url.href }}"
                      att-show-icon="true"
                      att-lead-icon="{{ module.button_1.button_leading_icon }}"
        ></button-eu-wc>
      {% endif %}
      {% if module.button_2.show_button %}
        <button-eu-wc class="hide-on-mobile"
                      data-label="{{ module.button_2.button_label }}"
                      att-size="btn-lg"
                      att-type="{{ module.button_2.button_type }}"
                      att-disabled="{{ module.button_2.button_disabled }}"
                      att-url="{{ module.button_2.link.url.href }}"
                      att-show-icon="true"
                      att-lead-icon="{{ module.button_2.button_leading_icon }}"
        ></button-eu-wc>

        <button-eu-wc class="hide-on-desktop"
                      data-label="{{ module.button_2.button_label }}"
                      att-size="btn-med"
                      att-type="{{ module.button_2.button_type }}"
                      att-disabled="{{ module.button_2.button_disabled }}"
                      att-url="{{ module.button_2.link.url.href }}"
                      att-show-icon="true"
                      att-lead-icon="{{ module.button_2.button_leading_icon }}"
        ></button-eu-wc>

      {% endif %}
      
    </div>
  </div>
  {% if module.show_image %}
  {% if module.image_placement == "trailing" %}
    {% if module.media_type == "icon" %}

      <div class="image image-icon">
      
      {% set icon_path = '/images/epiuse-icons/'~ module.color ~'/' ~ module.icon ~ '.svg'%}
      {% set icon = get_asset_url(icon_path)  %}

      <!-- ******** MODULE ******** -->
      <!-- ____ EU Epiuse Icons ___ -->

      <epiuse-icons-wc
                  att-icon="{{ icon }}"
                  att-size="{{ module.icon_size }}"
                  class="{{ name }}"
      ></epiuse-icons-wc>

      <!-- ____ eu-ac-END ___ -->
      </div>


    {% else %}

      <div class="image"  style="height: {{ module.image_field.height|escape_attr }}px; background-image: url({{ module.image_field.src|escape_url }}); background-size: cover; background-position: center;"></div>



    {% endif %}
  {% endif %}
  {% endif %}
</div>
</div>


{% if module.layout == "vertical" %}
  <script>
  
  $(document).ready(function(){
  var image_url = $('.{{name}} .image').css('background-image'), image;

    // Remove url() or in case of Chrome url("")
    image_url = image_url.match(/^url\("?(.+?)"?\)$/);

    if (image_url[1]) {
      image_url = image_url[1];
      image = new Image();

      // just in case it is not already loaded
      $(image).on("load",function () {

          let image_ratio = $('.{{name}}').width() / image.width;

          let image_height = image_ratio * image.height;

          $(".{{name}} .image").height( image_height );
      });
      
      image.src = image_url;
    }
  });
  
  </script>
  {% endif %}
  

{% if module.layout == "horizontal" %}
<script>

$(document).ready(function(){
  if ($(window).width() > 768) {
    $(".{{name}} .image").height(  $(".{{name}}").height() );
  }

  $(window).on('resize', function(){
    if ($(window).width() > 768) {
      $(".{{name}} .image").height(  $(".{{name}}").height() );
    } else {
      $(".{{name}} .image").height( "unset" );
    }

  });
});

</script>
{% endif %}

<!-- ____ eu-vc-END ___ -->