.contact-container {
    position: fixed;
    top: 72px;
    right: 0px; 
    width: 500px;
    height: calc(100% - 72px);
    overflow: auto;
    padding-top: 20px;

    background-color: var(--pure-white);
    
}

.container-fluid.footer__container.content-wrapper {
    z-index: 9999;
    position: relative;
}

.contact-container .widget-type-form {
    box-shadow: none;
}

.body-container--contact .dnd_area-row-0-padding > .row-fluid, .body-container--contact .dnd_area-row-1-padding > .row-fluid {
    padding-right: 300px !important;
}


@media (max-width: 1600px){
    .body-container--contact .dnd_area-row-0-padding > .row-fluid, .body-container--contact .dnd_area-row-1-padding > .row-fluid {
        padding-right: 500px !important;
    }
}


@media (max-width: 1240px){
    

    .body-container--contact .row-fluid .span6 {
        width: 100%;
    }
}


@media (max-width: 768px){
    

.contact-container {
    position: relative;
    top: unset;
    right: unset; 
    width: unset;
    height: unset;
    overflow: auto;
    padding-top: 0px;
}

.contact-container .widget-type-form {
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
}

.body-container--contact .dnd_area-row-0-padding > .row-fluid, .body-container--contact .dnd_area-row-1-padding > .row-fluid {
        padding-right: 0px !important;
    }
}