.body-container--search-results {
  background-color: var(--midnight-blue-5);  
}

.hs-search-results-title {
    margin-bottom: var(--margin-md);
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    color: var(--midnight-blue);
}

.hs-search-results .hs-search-results__message {
    font-family: var(--caption-semibold-font-family);
    font-size: var(--caption-semibold-font-size);
    font-weight: var(--caption-semibold-font-weight);
    line-height: var(--caption-semibold-line-height); 
}

.hs-search-results .hs-search-results__title {
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-weight: 500;
    line-height: var(--h3-line-height);
    text-decoration: none !important;
}

.hs-search-results .hs-search-results__title:hover {
    color: var(--pale-blue-75);
}

.hs-search-results__link {
    color: var(--charcoal-black);
}

.hs-search-results__link:visited {
    color: #405273;
}

.hs-search-results .hs-search-results__title:visited,
.hs-search-results .hs-search-results__title:focus {
    color: #405273;
}

.hs-search-results__listing__item {
    align-items: center;
}

.hs-search-results__featured-image-wrapper {
    overflow: hidden;
    height: 280px;
}

.hs-search-results__featured-image-wrapper img {
    min-width: 100%;
    min-height: 100%;
}

.hs-search-results__pagination {
    margin-top: 64px;
}

.hs-search-results__pagination__link--active {
    border: none !important;
    background-color: var(--midnight-blue-10);
}

.hs-search-results__pagination__link {
    color: var(--midnight-blue);
}

.hs-search-results__pagination__link--first, .hs-search-results__pagination__link--last {
    font-size: 0px;
}