/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

:host, :root {
 
    /* ======== COLOR SWATCHES ======== */
    --midnight-blue: #001844;
    --midnight-blue-75: #001844BF;
    --midnight-blue-50: #00184480;
    --midnight-blue-25: #00184440;
    --midnight-blue-10: #0018441A;
    --midnight-blue-5: #0018440D;
    --midnight-blue-2: #00184405;
    
    --pale-blue: #6797b8;
    --pale-blue-75: #6797b8BF;
    --pale-blue-50: #6797b880;
    --pale-blue-25: #6797b840;
    --pale-blue-10: #6797b81A;
    --pale-blue-5: #6797b80D;
    
    --crimson-red: #ce181e;
    --crimson-red-75: #ce181eBF;
    --crimson-red-50: #ce181e80;
    --crimson-red-25: #ce181e40;
    --crimson-red-10: #ce181e1A;
    --crimson-red-5: #ce181e0D;
    
    --charcoal-black: #000000;
    --charcoal-black-75: #000000BF;
    --charcoal-black-50: #00000080;
    --charcoal-black-25: #00000040;
    --charcoal-black-10: #0000001A;
    --charcoal-black-5: #0000000D;
    
    --pure-white: #FFFFFF;
    --pure-white-75: #FFFFFFBF;
    --pure-white-50: #FFFFFF80;
    --pure-white-25: #FFFFFF40;
    --pure-white-10: #FFFFFF1A;
    --pure-white-5: #FFFFFF0D;
    
    --success-green: #39B579;
    --success-green-75: #39B579BF;
    --success-green-50: #39B57980; 
    --success-green-25: #39B57940; 
    --success-green-10: #39B5791A; 
    --success-green-5: #39B5790D; 
  
    --grey: #313131;
    --grey-75: #313131BF;
    --grey-50: #31313180;
    --grey-25: #31313140;
    --grey-10: #3131311A;
    --grey-5: #3131310D;
    
    /* ======== TYPOGRAPHY ======== */
    --h1-font-family: 'Lato', sans-serif;
    --h1-font-size: 48px;
    --h1-font-weight: 700;
    --h1-line-height: 120%;
    
    --h2-font-family: 'Lato', sans-serif;
    --h2-font-size: 36px;
    --h2-font-weight: 300;
    --h2-line-height: 130%;
    
    --h3-font-family: 'Open Sans', sans-serif;
    --h3-font-size: 22px;
    --h3-font-weight: 500;
    --h3-line-height: 130%;
    
    --h4-font-family: 'Open Sans', sans-serif;
    --h4-font-size: 20px;
    --h4-font-weight: 500;
    --h4-line-height: 130%;
    
    --h5-font-family: 'Open Sans', sans-serif;
    --h5-font-size: 18px;
    --h5-font-weight: 500;
    --h5-line-height: 150%;
    
    --h6-font-family: 'Open Sans', sans-serif;
    --h6-font-size: 16px;
    --h6-font-weight: 600;
    --h6-line-height: 150%;
    
    --body-font-family: 'Open Sans', sans-serif;
    --body-font-size: 16px;
    --body-font-weight: 300;
    --body-line-height: 150%;
    
    --body-semibold-font-family: 'Open Sans', sans-serif;
    --body-semibold-font-size: 16px;
    --body-semibold-font-weight: 500;
    --body-semibold-line-height: 150%;
    
    --body-bullets-font-family: 'Open Sans', sans-serif;
    --body-bullets-font-size: 16px;
    --body-bullets-font-weight: 300;
    --body-bullets-line-height: 150%;
    
    --caption-semibold-font-family: 'Open Sans', sans-serif;
    --caption-semibold-font-size: 12px;
    --caption-semibold-font-weight: 500;
    --caption-semibold-line-height: 140%;
    
    --caption-regular-font-family: 'Open Sans', sans-serif;
    --caption-regular-font-size: 12px;
    --caption-regular-font-weight: 300;
    --caption-regular-line-height: 140%;
    
    /* ======== BOX SHADOWS ======== */
    --shadow-xs: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-sm: 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-md: 0px 8px 8px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-lg: 0px 16px 16px 0px rgba(0, 0, 0, 0.05), 0px 8px 8px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0px 32px 32px 0px rgba(0, 0, 0, 0.05), 0px 16px 16px 0px rgba(0, 0, 0, 0.05), 0px 8px 8px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-2xl: 0px 64px 64px 0px rgba(0, 0, 0, 0.05), 0px 32px 32px 0px rgba(0, 0, 0, 0.05), 0px 16px 16px 0px rgba(0, 0, 0, 0.05), 0px 8px 8px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-3xl: 0px 128px 128px 0px rgba(0, 0, 0, 0.05), 0px 64px 64px 0px rgba(0, 0, 0, 0.05), 0px 32px 32px 0px rgba(0, 0, 0, 0.05), 0px 16px 16px 0px rgba(0, 0, 0, 0.05), 0px 8px 8px 0px rgba(0, 0, 0, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
    
    /* ======== PADDING ======== */
    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-md-lg: 24px;
    --padding-lg: 32px;
    --padding-xl: 64px;
    --padding-2xl: 128px;
    
    /* ======== MARGIN ======== */
    --margin-xs: 4px;
    --margin-sm: 8px;
    --margin-md: 16px;
    --margin-md-lg: 24px;
    --margin-lg: 32px;
    --margin-xl: 64px;
    --margin-2xl: 128px;
  
    /* ======== BLUR ======== */
    --blur-sm: 8px;
    --blur-md: 16px;
    --blur-lg: 24px;
    --blur-xl: 40px;
  }
  
  
  
  
  .font-h1{
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    margin: 0;
  }
  .font-h2{
    font-family: var(--h2-font-family);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    margin: 0;
  }
  .font-h3{
    font-family: var(--h3-font-family);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    margin: 0;
  }
  .font-h4{
    font-family: var(--h4-font-family);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    margin: 0;
  }
  .font-h5{
    font-family: var(--h5-font-family);
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-line-height);
    margin: 0;
  }
  .font-h6{
    font-family: var(--h6-font-family);
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    line-height: var(--h6-line-height);
    margin: 0;
  }
  .font-body{
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    margin: 0;
  }
  .font-body-bullets{
    font-family: var(--body-bullets-font-family);
    font-size: var(--body-bullets-font-size);
    font-weight: var(--body-bullets-font-weight);
    line-height: var(--body-bullets-line-height);
    margin: 0;
  }
  .font-body-semibold{
    font-family: var(--body-semibold-font-family);
    font-size: var(--body-semibold-font-size);
    font-weight: var(--body-semibold-font-weight);
    line-height: var(--body-semibold-line-height);
    margin: 0;
  }
  .font-caption-regular{
    font-family: var(--caption-regular-font-family);
    font-size: var(--caption-regular-font-size);
    font-weight: var(--caption-regular-font-weight);
    line-height: var(--caption-regular-line-height);
    margin: 0;
  }
  .font-caption-semibold{
    font-family: var(--caption-semibold-font-family);
    font-size: var(--caption-semibold-font-size);
    font-weight: var(--caption-semibold-font-weight);
    line-height: var(--caption-semibold-line-height);
    margin: 0;
  }

  
  .color--midnight-blue {
    color: var(--midnight-blue);
  }
  .color--midnight-blue-75 {
    color: var(--midnight-blue-75);
  }
  .color--midnight-blue-50 {
    color: var(--midnight-blue-50);
  }
  .color--midnight-blue-25 {
    color: var(--midnight-blue-25);
  }
  .color--midnight-blue-10 {
    color: var(--midnight-blue-10);
  }
  .color--midnight-blue-5 {
    color: var(--midnight-blue-5);
  }
  .color--midnight-blue-2 {
    color: var(--midnight-blue-2);
  }
  
  .color--pale-blue {
    color: var(--pale-blue);
  }
  .color--pale-blue-75 {
    color: var(--pale-blue-75);
  }
  .color--pale-blue-50 {
    color: var(--pale-blue-50);
  }
  .color--pale-blue-25 {
    color: var(--pale-blue-25);
  }
  .color--pale-blue-10 {
    color: var(--pale-blue-10);
  }
  .color--pale-blue-5 {
    color: var(--pale-blue-5);
  }
  
  .color--crimson-red {
    color: var(--crimson-red);
  }
  .color--crimson-red-75 {
    color: var(--crimson-red-75);
  }
  .color--crimson-red-50 {
    color: var(--crimson-red-50);
  }
  .color--crimson-red-25 {
    color: var(--crimson-red-25);
  }
  .color--crimson-red-10 {
    color: var(--crimson-red-10);
  }
  .color--crimson-red-5 {
    color: var(--crimson-red-5);
  }
  
  .color--charcoal-black {
    color: var(--charcoal-black);
  }
  .color--charcoal-black-75 {
    color: var(--charcoal-black-75);
  }
  .color--charcoal-black-50 {
    color: var(--charcoal-black-50);
  }
  .color--charcoal-black-25 {
    color: var(--charcoal-black-25);
  }
  .color--charcoal-black-10 {
    color: var(--charcoal-black-10);
  }
  .color--charcoal-black-5 {
    color: var(--charcoal-black-5);
  }
  
  .color--pure-white {
    color: var(--pure-white);
  }
  .color--pure-white-75 {
    color: var(--pure-white-75);
  }
  .color--pure-white-50 {
    color: var(--pure-white-50);
  }
  .color--pure-white-25 {
    color: var(--pure-white-25);
  }
  .color--pure-white-10 {
    color: var(--pure-white-10);
  }
  .color--pure-white-5 {
    color: var(--pure-white-5);
  }
  
  .color--success-green {
    color: var(--success-green);
  }
  .color--success-green-75 {
    color: var(--success-green-75);
  }
  .color--success-green-50 {
    color: var(--success-green-50);
  }
  .color--success-green-25 {
    color: var(--success-green-25);
  }
  .color--success-green-10 {
    color: var(--success-green-10);
  }
  .color--success-green-5 {
    color: var(--success-green-5);
  }

  .color--grey {
    color: var(--grey);
  }
  .color--grey-75 {
    color: var(--grey-75);
  }
  .color--grey-50 {
    color: var(--grey-50);
  }
  .color--grey-25 {
    color: var(--grey-25);
  }
  .color--grey-10 {
    color: var(--grey-10);
  }
  .color--grey-5 {
    color: var(--grey-5);
  }