.section-header {
  max-width: 740px;
}
.section-header h1, .section-header h2, .section-header h3, .section-header h4, .section-header h5, .section-header p{
  margin: 0;
}

.section-header.align-center {
  text-align: center;
}

.section-header.align-right {
  text-align: right;
  float: right;
}

.section-header .sh-subtext {
  color: var(--pale-blue);
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);
  line-height: var(--h5-line-height);
  /* margin-bot: var(--margin-md); */
}

.section-header h2.sh-heading{
  margin-top: var(--margin-md);
  font-family: var(--h2-font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
}
.sh-light-mode .sh-heading {
  color: var(--midnight-blue);
}
.sh-dark-mode .sh-heading{
  color: var(--pure-white);
}

.section-header .sh-sub-heading{
  margin-top: var(--margin-md);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
}
.sh-light-mode .sh-sub-heading {
  color: var(--charcoal-black);
}
.sh-dark-mode .sh-sub-heading{
  color: var(--pure-white);
}

.section-header .sh-body-text{
  margin-top: var(--margin-md);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
}
.sh-light-mode .sh-body-text {
  color: var(--charcoal-black);
}
.sh-dark-mode .sh-body-text {
  color: var(--pure-white);
}

.timeline-container {
  padding: 0 var(--padding-md);
}

.timeline {
  position: relative;
  
}

.timeline-dates-container {
  max-height: 450px;
  overflow: hidden;
}

.timeline-dates {
  position: relative;
  transition: top 1s;
  top: 0;
}

.timeline-item .date {
  width: 15%;
  float: left;
  clear: both;
  cursor: pointer;
  position: relative;
  padding: 60px 0 0;
  border-right: 1px solid var(--midnight-blue-25);

  text-align: right;

  font-size: var(--h3-font-size);
  font-family: var(--h3-font-family);
  line-height: var(--h3-line-height);
  font-weight: var(--h3-font-weight);
  color: var(--charcoal-black-50);
}

.timeline-item.active .date {
  color: var(--charcoal-black);
}

.timeline-item .date span {
  display: inline-block;
  padding-right: var(--padding-lg);
}

.timeline-item.active .date span {
  padding-right: 20px;
} 

.timeline-item:last-child .date {
  padding-bottom: 60px;
}


.timeline-item .date .timeline-button {
  width: 10px;
  height: 10px;
  background-color: var(--midnight-blue);
  float: right;
  position: relative;
  right: -5px;
  display: inline-block;
  transition: all 1s;
}




.timeline-item.active .date .timeline-button {
  width: 22px;
  height: 22px;
  background-color: var(--pale-blue);
  right: -11px;
}

.timeline-content {
  position: absolute;
  width: 85%;
  left: 15%;
  top: 0;
  display: none;
  padding-left: var(--padding-2xl);
}

.timeline-content.active {
  display: block;
}

.timeline-padding {
  display: none;
  
}