<!-- ******** MODULE ******** -->
<!-- ____ EU Section Header ___ -->
<div class="timeline-container">
<div class="timeline timeline-{{name}}">
<div class="timeline-padding"></div>
<div class="timeline-dates-container">
<div class="timeline-dates">
{% for item in module.timeline_item %}

<div class="timeline-item timeline-item-{{loop.index}} {% if loop.index == 1 %} active {% endif %}">
  <div class="date" att-target="{{loop.index}}">
    <span>{{item.timeline_date}}</span>
    <div class="timeline-button"></div>
  </div>

</div>
{% endfor %}
</div>
</div>

{% for item in module.timeline_item %}

  <div class="timeline-content timeline-content-{{loop.index}} {% if loop.index == 1 %} active {% endif %}">
    <div class="section-header {{ name }} {% if item.sh_dark_mode == "true" %}sh-dark-mode{% else %}sh-light-mode{% endif %} {{ item.align }}">
    {% if item.show_subtext %}
      <h5 class="sh-subtext">
        {{ item.subtext }}
      </h5>
    {% endif %}
    {% if item.show_heading %}
      <h2 class="sh-heading">
        {{ item.heading }}
      </h2>
    {% endif %}
    {% if item.show_sub_heading %}
      <h3 class="sh-sub-heading">
        {{ item.sub_heading }}
      </h3>
    {% endif %}
    {% if item.show_body %}
      <p class="sh-body-text">
        {{ item.body_text }}
      </p>
    {% endif %}
    </div>
  </div>

{% endfor %}
</div>
</div>
<!-- ____ eu-sh-END ___ -->

{% set is_vertical_timeline = module.tl_vertical %}

  <style>
{% if is_vertical_timeline == "true" %}@media(max-width: 768px){% else %}@media(min-width: 200px){% endif %}{

  .timeline-dates {
    min-width: 3000px;
  }
    .timeline-padding {
      display: block;
    }

    .timeline-item .date {
    width: 100px;
    float: left;
    clear: none;
    cursor: pointer;
    position: relative;
    padding: var(--padding-md) var(--padding-sm);
    border-top: 1px solid var(--midnight-blue-25);
    text-align: center;
    border-right: 0;
    

    font-size: var(--h6-font-size);
    font-family: var(--h6-font-family);
    line-height: var(--h6-line-height);
    font-weight: var(--h6-font-weight);
  }

  .timeline-item .date .timeline-button {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .timeline-item.active .date .timeline-button {
    top: -11px;
  }

  .timeline-content {
    width: 100%;
    left: 0;
    padding: 0;
  }

  .timeline-item.active .date span, .timeline-item .date span {
    padding: 0;
  }

  .timeline-dates {
    top: 0 !important;
    transition: left 1s;
    left: 0;
    padding: 16px 0;
  }
}
</style>

<script>
  $(document).ready(function(){

    let active_item = 1;

    

    let last_item = parseInt( $(".timeline-{{name}} .timeline-item:last-child .date").attr("att-target") );

    let top = 0;
    let left = 0;

    if ($(window).width() < 768 || !{{ is_vertical_timeline }}) {
      
      $(".timeline-{{name}} .timeline-dates").width( 100*last_item );
    }

    $(".timeline-{{name}} .date").on("click", function(){
      let index = parseInt( $(this).attr("att-target") );

      $(".timeline-{{name}} .timeline-item").removeClass("active");
      $(".timeline-{{name}} .timeline-content").removeClass("active");
      $(".timeline-{{name}} .timeline-item-"+index).addClass("active");
      $(".timeline-{{name}} .timeline-content-"+index).addClass("active");


      if ($(window).width() < 768 || !{{ is_vertical_timeline }}) {
      
        
        if(index >= 3 && index > active_item){
          left -= 100;
          $(".timeline-{{name}} .timeline-dates").css("left", left);
        } else if (index < 3) {
          left = 0;
          $(".timeline-{{name}} .timeline-dates").css("left", left);
        } else if (index < active_item) {
          left += 100;
          $(".timeline-{{name}} .timeline-dates").css("left", left);
        }

      
      } else {


        if(index >= 5 && index > active_item){
          top -= 90;
          $(".timeline-{{name}} .timeline-dates").css("top", top);
        } else if (index < 5) {
          top = 0;
          $(".timeline-{{name}} .timeline-dates").css("top", top);
        } else if (index < active_item) {
          top += 90;
          $(".timeline-{{name}} .timeline-dates").css("top", top);
        }

      }

      active_item = index;
    });

    let min_height = 0;
    $(".timeline-{{name}} .timeline-content").each(function(){
      if($(this).height() > min_height){
        min_height = $(this).height();
      }
    });

    $(".timeline-{{name}}").css('min-height', min_height+'px');

    min_height += 100;
    $(".timeline-{{name}} .timeline-padding").css('min-height', min_height+'px');

  });
</script>
