
<!-- ******** MODULE ******** -->
<!-- ____ EU Nav Menu Global ___ -->

{% set domain_url = request.full_url|replace(request.path, '') %}
 {% set hubdb_table_id = "epiuse_theme_domains"%}  {# 22849564 %} #}

{% set hubdb_domain_nav_rows = hubdb_table_rows(hubdb_table_id) %}
{% set selected_hubdb_domain_nav_row = hubdb_domain_nav_rows|selectattr('domain_name', 'equalto', domain_url)|first %}

{% set domain_nav_menu = menu(selected_hubdb_domain_nav_row.nav_menu, "site_root").children %}


<!-- __ Main Global Menu __ -->
{% if module.nm_sub_menu == "false" %}
  
    <div class="global-menu">
        <ul class="nav-menu">
            {% for nav_menu_item in domain_nav_menu %}
                {% set nav_menu_item_length = nav_menu_item.children|length %}
                <li class="nav-item {% if nav_menu_item_length > 0 %}has-children{% endif %}">
                    {% if nav_menu_item_length == 0 && nav_menu_item.url %}<a href="{{ nav_menu_item.url }}">{% endif %}
                    <div class="nav-item-header font-body-semibold nm-dropdown-click">
                      <p>{{ nav_menu_item.label }}</p>
                      {% if nav_menu_item_length > 0 %}<i class="fa-thin fa-chevron-down nm-chevron"></i>{% endif %}
                    </div>
                    {% if nav_menu_item_length > 0 %}</a>{% endif %}
                    {% if nav_menu_item_length > 0 %}
                        <div class="nm-dropdown">
                            <ul class="nm-lvl2-dropdown">
                                {% for nav_menu_item_child in nav_menu_item.children %}
                                    <li class="nm-dropdown-item">
                                        <div class="font-body">
                                          <p>{{ nav_menu_item_child.label }}</p>
                                        </div>
                                        <ul>
                                            {% for nav_menu_item_subchild in nav_menu_item_child.children %}
                                                <li class="nm-dropdown-subitem font-caption-semibold">
                                                    {# <a href="{{ nav_menu_item_subchild.url }}"><p>{{ nav_menu_item_subchild.label }}</p></a> #}
                                                    <link-eu-wc 
                                                        data-text="{{ nav_menu_item_subchild.label }}"
                                                        att-type="pri"
                                                        att-disabled="false"
                                                        att-url="{{ nav_menu_item_subchild.url }}"
                                                        att-leading-icon="false"
                                                        att-trailing-icon="false"
                                                        att-size="sm"
                                                        att-align="LEFT"
                                                    ></link-eu-wc>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>



<!-- __ Local Menu __ -->
{% else %}

  {% for nav_menu_item in domain_nav_menu %}
    {% for nav_menu_item_child in nav_menu_item.children %}
      {% for nav_menu_item_subchild in nav_menu_item_child.children %}

        {% if nav_menu_item_subchild.activeNode %} <!-- Draw Menu -->
         
          <div class="local-menu">
              <div class="local-menu-label font-body-semibold">
                <p>{{ nav_menu_item_subchild.label }}</p>
              </div>
              <div class="local-menu-label-mobile font-body nm-dropdown-click">
                <p>{{ nav_menu_item_subchild.label }}</p>
                <i class="fa-thin fa-chevron-down nm-chevron nm-chevron"></i>
              </div>
              <div class="local-nav-menu-container">
                <ul class="local-nav-menu">
                    {% for local_nav_menu_item in nav_menu_item_subchild.children %}
                        {% set local_nav_menu_item_length = local_nav_menu_item.children|length %}
                        <li class="nav-item {% if local_nav_menu_item_length > 0 %}has-children{% endif %}">
                            {% if local_nav_menu_item_length == 0 && local_nav_menu_item.url %}<a href="{{ local_nav_menu_item.url }}">{% endif %}
                            <div class="nav-item-header font-body-semibold nm-dropdown-click">
                                <p>{{ local_nav_menu_item.label }}</p>
                                {% if local_nav_menu_item_length > 0 %}<i class="fa-thin fa-chevron-down nm-chevron"></i>{% endif %}
                            </div>
                            {% if local_nav_menu_item_length > 0 %}</a>{% endif %}
                            {% if local_nav_menu_item_length > 0 %}
                                <div class="nm-dropdown">
                                    <ul>
                                        {% for nav_menu_item_child in local_nav_menu_item.children %}
                                            <li class="nm-dropdown-item font-caption-semibold">
                                                {# <a href="{{ nav_menu_item_child.url }}"><p>{{ nav_menu_item_child.label }}</p></a> #}
                                                <link-eu-wc 
                                                    data-text="{{ nav_menu_item_child.label }}"
                                                    att-type="pri-inv"
                                                    att-disabled="false"
                                                    att-url="{{ nav_menu_item_child.url }}"
                                                    att-leading-icon="false"
                                                    att-trailing-icon="false"
                                                    att-size="sm"
                                                    att-align="LEFT"
                                                ></link-eu-wc>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        {% endif %}

      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endif %}




  <!-- ____ eu-nm-END ___ -->

