<!--
  templateType: page
  isAvailableForNewContent: true
  label: 404
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block header %}
    {% global_partial path="./partials/header-global.html" %}
  {% endblock header %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home"
%}

    
  
    {% dnd_section 
      padding={'top': 0, 'bottom': 0, 'left': 0, 'right': 0},
      full_width = true 
    %}
      {% dnd_column width=12 %}
        {% dnd_row %}
          {% dnd_module 'hero_slide' path='../modules/heroslides-eu.module'
            hsc_slide=[{
                hsc_mobile_image_placement:"trailing",
                hsc_heading_text:"Oh no, we can't find that page...",
                hsc_title:"As your global SAP HR/Payroll and S/4HANA Specialist, take a look at our boutique services and software solutions.",
                hsc_body_text:"The page you are looking for has disappeared but we are still here, you are welcome to view some of our other offerings.",
                hsc_color:'hs-transparent',
                hsc_type:'hs-branded',
                hsc_hero_image:{
                    src: 'https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/404-background.png' 
                },
                hsc_type:"hs-text-image",
                show_buttons:true,
                right_button:{
                    show_button:false
                },
                left_button:{
                    button_label:'Check out EPI-USE Services',
                    button_type:'btn-sec',
                    button_leading_icon:true,
                    lbutton_icon_category:'cat-arrows',
                    cat_arrows:'arrow-left'
                }
            }]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        
      {% end_dnd_column %}
      
      
    {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/footer-micro.html" %}
{% endblock footer %}