<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block header %}
  {% global_partial path="./partials/header-global.html" %}
{% endblock header %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home"
%}

    {% dnd_section 
      background_color='#f2f3f6',
      padding={'top': 0, 'bottom': 0, 'left': 0, 'right': 0},
      full_width = true %}
      {% dnd_column width=12 %}
        {% dnd_row %}
          {% dnd_module 'heroslides' path='../modules/heroslides-eu.module' %}{% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  
    {% dnd_section 
      background_color='#f2f3f6',
      padding={'top': 64, 'bottom': 64, 'left': 16, 'right': 16},
      width=1200
    %}
      {% dnd_column width=12 %}
        {% dnd_row %}
          {% dnd_module 'section_header' path='../modules/section-header-eu.module' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      
      
    {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}

{% block footer %}
  {% global_partial path="./partials/footer.html" %}
{% endblock footer %}

