<!--
  templateType: page
  isAvailableForNewContent: true
  label: Legal Content
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block header %}
    {% global_partial path="./partials/header-global.html" %}
  {% endblock header %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home legal-content-container"
%}

{% dnd_section 
background_color='rgba(0, 24, 68, 0.05)',
padding={'top': 32, 'bottom': 0, 'left': 16, 'right': 16},
max_width=1200
%}
    {% dnd_column width=12 %}
        {% dnd_row  %}
            {% dnd_module 'link' path='../modules/link-eu.module',
                text_field="Go back",
                type="pri",
                disabled=false,
                leading_icon=true,
                trailing_icon=false,
                size="md"
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
    {% end_dnd_column %}
{% end_dnd_section %}
{% dnd_section 
background_color='rgba(0, 24, 68, 0.05)',
padding={'top': 128, 'bottom': 128, 'left': 16, 'right': 16},
max_width=740
%}
    {% dnd_column width=12 %}

        {% dnd_row  %}
            {% dnd_module 'section_header' path='../modules/section-header-eu.module' %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row padding={'top': 128, 'bottom': 0, 'left': 0, 'right': 0} %}
            {% dnd_module 'one_line_text' path='../modules/one-line-text-eu.module'
                body_group={
                    olt_text:"Lorem ipsum dolor sit amet consectetur. Aliquam adipiscing velit facilisis eget. Mauris nulla pretium enim donec. Eu donec molestie nulla quis etiam scelerisque. Eget integer vulputate dictum augue.",
                    olt_bulleted_list:false
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row  %}
            {% dnd_module 'bulleted_list' path='../modules/one-line-text-eu.module'
                olt_show_heading=false,
                body_group={
                    olt_bulleted_list:true,
                    olt_bullets:[{
                        olt_bullet_text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                    },
                    {
                        olt_bullet_text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                        olt_bullet_indent:true
                    }
                    ]
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
            {% dnd_module 'one_line_text' path='../modules/one-line-text-eu.module'
                olt_show_heading=false,    
                body_group={
                    olt_text:"Lorem ipsum dolor sit amet consectetur. Aliquam adipiscing velit facilisis eget. Mauris nulla pretium enim donec. Eu donec molestie nulla quis etiam scelerisque. Eget integer vulputate dictum augue.",
                    olt_bulleted_list:false
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}



        {% dnd_row padding={'top': 64, 'bottom': 0, 'left': 0, 'right': 0} %}
            {% dnd_module 'one_line_text' path='../modules/one-line-text-eu.module'
                body_group={
                    olt_text:"Lorem ipsum dolor sit amet consectetur. Aliquam adipiscing velit facilisis eget. Mauris nulla pretium enim donec. Eu donec molestie nulla quis etiam scelerisque. Eget integer vulputate dictum augue.",
                    olt_bulleted_list:false
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
            {% dnd_module 'bulleted_list' path='../modules/one-line-text-eu.module'
                olt_show_heading=false,
                body_group={
                    olt_bulleted_list:true,
                    olt_bullets:[{
                        olt_bullet_text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                    },
                    {
                        olt_bullet_text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                        olt_bullet_indent:true
                    }
                    ]
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
            {% dnd_module 'one_line_text' path='../modules/one-line-text-eu.module'
                olt_show_heading=false,    
                body_group={
                    olt_text:"Lorem ipsum dolor sit amet consectetur. Aliquam adipiscing velit facilisis eget. Mauris nulla pretium enim donec. Eu donec molestie nulla quis etiam scelerisque. Eget integer vulputate dictum augue.",
                    olt_bulleted_list:false
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}




        {% dnd_row padding={'top': 64, 'bottom': 0, 'left': 0, 'right': 0} %}
            {% dnd_module 'one_line_text' path='../modules/one-line-text-eu.module'
                body_group={
                    olt_text:"Lorem ipsum dolor sit amet consectetur. Aliquam adipiscing velit facilisis eget. Mauris nulla pretium enim donec. Eu donec molestie nulla quis etiam scelerisque. Eget integer vulputate dictum augue.",
                    olt_bulleted_list:false
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
            {% dnd_module 'bulleted_list' path='../modules/one-line-text-eu.module'
                olt_show_heading=false,
                body_group={
                    olt_bulleted_list:true,
                    olt_bullets:[{
                        olt_bullet_text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                    },
                    {
                        olt_bullet_text:"Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                        olt_bullet_indent:true
                    }
                    ]
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
            {% dnd_module 'one_line_text' path='../modules/one-line-text-eu.module'
                olt_show_heading=false,    
                body_group={
                    olt_text:"Lorem ipsum dolor sit amet consectetur. Aliquam adipiscing velit facilisis eget. Mauris nulla pretium enim donec. Eu donec molestie nulla quis etiam scelerisque. Eget integer vulputate dictum augue.",
                    olt_bulleted_list:false
                }
            %}
            {% end_dnd_module %}
        {% end_dnd_row %}




    {% end_dnd_column %}


{% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}

{% block footer %}
    {% global_partial path="./partials/footer-micro.html" %}
{% endblock footer %}