<!--
  templateType: page
  isAvailableForNewContent: true
  label: Partners
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}

{% block header %}
  {% global_partial path="./partials/header-global.html" %}
{% endblock header %}

{% block body %}
    {% dnd_area "dnd_area"
    label="Main section",
    class="body-container body-container--partners"
    %}
        {# Heroslides #}

        {% dnd_section 
            background_color='#f2f3f6',
            padding={'top': 0, 'bottom': 0, 'left': 0, 'right': 0},
            full_width = true
        %}
            {% dnd_column width=12 %}
            {% dnd_row %}
                {% dnd_module 'heroslide' 
                    path='../modules/heroslides-eu.module',
                    hsc_slide=[
                        {
                            'hsc_heading_text':'Subtext',
                            'hsc_title':'Our Partner Network',
                            'hsc_body_text':'Our partner network adds tremendous value to the EPI-USE business.',
                            'hsc_type':'hs-text-image',
                            'hsc_color':'hs-midnight-blue',
                            'hsc_hero_image':{
                                "size_type" : "auto_custom_max",
                                "src" : "https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/ac-03-1.jpeg",
                                "alt" : "whale",
                                "loading" : "lazy",
                                "width" : 1920,
                                "height" : 720,
                                "max_width" : 1920,
                                "max_height" : 720
                            },
                            'show_buttons':false,
                            'show_logos':false,
                            'show_arrow_buttons':false
                        }
                    ]
                %}
                {% end_dnd_module %}
            {% end_dnd_row %}
            {% end_dnd_column %}
        {% end_dnd_section %} 

        {# Text #}

         {% dnd_section 
            background_color='#f2f3f6',
            padding={'top': 128, 'bottom': 128, 'left': 16, 'right': 16},
            width=1200
        %}
            {% dnd_column width=12 %}
            {% dnd_row %}
                {% dnd_module 'one-line-text' 
                    path='../modules/one-line-text-eu.module',
                    olt_show_heading="true",
                    heading_group = {
                        "olt_heading_font":"h1",
                        "olt_heading_text":"We rate the skills and strengths of our partners highly.",
                        "olt_heading_lightmode_color":"--midnight-blue"
                    },
                    olt_show_text="false"
                %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
                {% dnd_module 'one-line-text-2' 
                    path='../modules/one-line-text-eu.module',
                    olt_show_heading="true",
                    heading_group = {
                        "olt_heading_font":"h1",
                        "olt_heading_text":"Their insights and depth of experience complement our vision and add vital aspects to our business offering.",
                        "olt_heading_lightmode_color":"--midnight-blue-50"
                    },
                    olt_show_text="false"
                %}{% end_dnd_module %}
            {% end_dnd_row %}
            {% end_dnd_column %}
        {% end_dnd_section %}


        {# Article Card Grid #}

        {% dnd_section 
            background_color='#f2f3f6',
            padding={'top': 0, 'bottom': 128, 'left': 16, 'right': 16},
            width=1200
        %}
            {% dnd_column width=12 %}

                {% dnd_row %}

                    {% dnd_column width=6 %}
                        {% dnd_row %}
                        
                            {% dnd_module 'var-card' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-aws.png"
                                },
                                subheading="Amazon Web Services (AWS)",
                                show_title="false",
                                show_date="false",
                                text="AWS is the world’s most comprehensive and broadly adopted cloud platform, offering over 175 fully-featured services from data centres globally. Millions of clients—including the fastest-growing startups, largest enterprises, and leading government agencies—are using AWS to lower costs, become more agile, and innovate faster.",
                                link_card="false"
                            %}{% end_dnd_module %}

                        {% end_dnd_row %}
                    {% end_dnd_column %}        
                    {% dnd_column width=6, offset=6 %}
                        {% dnd_row %}

                            {% dnd_module 'var-card-2' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-benefitfocus.png"
                                },
                                subheading="Benefitfocus",
                                show_title="false",
                                show_date="false",
                                text="Before 2000, choosing benefits meant sifting through piles of paper, not having the resources to understand or compare plans and then hoping you picked the right one. Benefitfocus gives people the knowledge, options and freedom to protect what they love most.",
                                link_card="false"
                            %}{% end_dnd_module %}
                            
                            
                        {% end_dnd_row %}
                    {% end_dnd_column %}

                {% end_dnd_row %}
                {% dnd_row %}

                    {% dnd_column width=6 %}
                        {% dnd_row %}
                        
                            {% dnd_module 'var-card-3' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-bersin-deloitte.png"
                                },
                                subheading="Bersin by Deloitte",
                                show_title="false",
                                show_date="false",
                                text="Bersin is the indispensable digital destination for the HR Professional to build capability, community and credibility, stay informed, and lead on workforce issues. Bersin delivers research-based people strategies designed to help leaders drive exceptional business performance.",
                                link_card="false"
                            %}{% end_dnd_module %}

                        {% end_dnd_row %}
                    {% end_dnd_column %}        
                    {% dnd_column width=6, offset=6 %}
                        {% dnd_row %}

                            {% dnd_module 'var-card-4' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-infor.png"
                                },
                                subheading="Infor",
                                show_title="false",
                                show_date="false",
                                text="With Infor, you can easily find the right solutions for every aspect of your business. We build complete industry suites in the cloud and deploy software that puts the user experience first, leverages data science, and integrates easily with your existing systems.",
                                link_card="false"
                            %}{% end_dnd_module %}
                            
                            
                        {% end_dnd_row %}
                    {% end_dnd_column %}

                {% end_dnd_row %}
                {% dnd_row %}

                    {% dnd_column width=6 %}
                        {% dnd_row %}
                        
                            {% dnd_module 'var-card-5' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-mendix.png"
                                },
                                subheading="Mendix",
                                show_title="false",
                                show_date="false",
                                text="We are creating an application platform that empowers people to build and continuously improve apps at unprecedented speed and scale. We know firsthand how hard it can be to quickly build software your users love, while maintaining the control you need.",
                                link_card="false"
                            %}{% end_dnd_module %}

                        {% end_dnd_row %}
                    {% end_dnd_column %}        
                    {% dnd_column width=6, offset=6 %}
                        {% dnd_row %}

                            {% dnd_module 'var-card-6' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-my-ally.png"
                                },
                                subheading="My Ally",
                                show_title="false",
                                show_date="false",
                                text="Developed for enterprise human resource teams, My Ally is the leading AI Talent Lifecycle Management solution. My Ally’s source-to-retain platform gives organizations the tools to discover, hire, onboard and retain the right people to fuel business.",
                                link_card="false"
                            %}{% end_dnd_module %}
                            
                            
                        {% end_dnd_row %}
                    {% end_dnd_column %}

                {% end_dnd_row %}
                {% dnd_row %}

                    {% dnd_column width=6 %}
                        {% dnd_row %}
                        
                            {% dnd_module 'var-card-7' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/Nakisa%20Logo-1.png"
                                },
                                subheading="Nakisa",
                                show_title="false",
                                show_date="false",
                                text="Nakisa is a prominent provider of enterprise-grade software solutions, primarily catering to the needs of Finance and HR departments. Their company's robust cloud software is designed to handle complex scenarios across various domains, including high volume postings, diverse assets, complex leasing scenarios, and large HR data sets. Nakisa's software supports multiple languages and currencies, ensuring compliance at both transactional and reporting levels.",
                                link_card="false"
                            %}{% end_dnd_module %}

                        {% end_dnd_row %}
                    {% end_dnd_column %}        
                    {% dnd_column width=6, offset=6 %}
                        {% dnd_row %}

                            {% dnd_module 'var-card-8' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/800px-SAP_2011_logo.png"
                                },
                                subheading="SAP",
                                show_title="false",
                                show_date="false",
                                text="Developed for enterprise human resource teams, My Ally is the leading AI Talent Lifecycle Management solution. My Ally’s source-to-retain platform gives organizations the tools to discover, hire, onboard and retain the right people to fuel business.",
                                link_card="false"
                            %}{% end_dnd_module %}
                            
                            
                        {% end_dnd_row %}
                    {% end_dnd_column %}

                {% end_dnd_row %}{% dnd_row %}

                    {% dnd_column width=6 %}
                        {% dnd_row %}
                        
                            {% dnd_module 'var-card-9' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-servicenow.png"
                                },
                                subheading="ServiceNow",
                                show_title="false",
                                show_date="false",
                                text="Developed for enterprise human resource teams, My Ally is the leading AI Talent Lifecycle Management solution. My Ally’s source-to-retain platform gives organizations the tools to discover, hire, onboard and retain the right people to fuel business.",
                                link_card="false"
                            %}{% end_dnd_module %}

                        {% end_dnd_row %}
                    {% end_dnd_column %}        
                    {% dnd_column width=6, offset=6 %}
                        {% dnd_row %}

                            {% dnd_module 'var-card-10' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/20220920%20EU%20Partner_SAP%20SuccessFactors.jpeg"
                                },
                                subheading="SuccessFactors",
                                show_title="false",
                                show_date="false",
                                text="Developed for enterprise human resource teams, My Ally is the leading AI Talent Lifecycle Management solution. My Ally’s source-to-retain platform gives organizations the tools to discover, hire, onboard and retain the right people to fuel business.",
                                link_card="false"
                            %}{% end_dnd_module %}
                            
                            
                        {% end_dnd_row %}
                    {% end_dnd_column %}

                {% end_dnd_row %}
                {% dnd_row %}

                    {% dnd_column width=6 %}
                        {% dnd_row %}
                        
                            {% dnd_module 'var-card-11' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-ukg.png"
                                },
                                subheading="UKG™",
                                show_title="false",
                                show_date="false",
                                text="Developed for enterprise human resource teams, My Ally is the leading AI Talent Lifecycle Management solution. My Ally’s source-to-retain platform gives organizations the tools to discover, hire, onboard and retain the right people to fuel business.",
                                link_card="false"
                            %}{% end_dnd_module %}

                        {% end_dnd_row %}
                    {% end_dnd_column %}        
                    {% dnd_column width=6, offset=6 %}
                        {% dnd_row %}

                            {% dnd_module 'var-card-12' 
                                path='../modules/var-card-eu.module',
                                image_field={
                                    src:"https://2930497.fs1.hubspotusercontent-na1.net/hubfs/2930497/00-EPI-USE/01-Company-pages/04-Partner-page/partner-logos-workforce.png"
                                },
                                subheading="WorkForce Software",
                                show_title="false",
                                show_date="false",
                                text="Developed for enterprise human resource teams, My Ally is the leading AI Talent Lifecycle Management solution. My Ally’s source-to-retain platform gives organizations the tools to discover, hire, onboard and retain the right people to fuel business.",
                                link_card="false"
                            %}{% end_dnd_module %}
                            
                            
                        {% end_dnd_row %}
                    {% end_dnd_column %}

                {% end_dnd_row %}

            {% end_dnd_column %}
        {% end_dnd_section %} 

    {% end_dnd_area %}
{% endblock body %}

{% block footer %}
    {% global_partial path="./partials/footer-micro.html" %}
{% endblock footer %}