
  <!-- ******** MODULE ******** -->
  <!-- ____ EU Article Cards ___ -->

  <div class="logo-grid {{name}}">
    {% if module.lg_show_heading == "true" %}
        <div class="lg-heading {% if module.lg_dark_mode == "true" %}lg-dark-heading{% else %}lg-light-heading{% endif %}">
            <h2 class="font-h2">{{module.lg_heading_text}}</h2>
        </div>
    {% endif %}
    <div class="container lg-inner">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 justify-content-center">
            {% for logo in module.lg_logos %}
                <div class="col-auto">

                    <div class="lg-logo">
                        {% if logo.lg_logo.src %}
                            {% set sizeAttrs = 'width="{{ logo.lg_logo.width|escape_attr }}" height="{{ logo.lg_logo.height|escape_attr }}"' %}
                            {% if logo.lg_logo.size_type == 'auto' %}
                                {% set sizeAttrs = 'width="{{ logo.lg_logo.width|escape_attr }}" height="{{ logo.lg_logo.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                            {% elif logo.lg_logo.size_type == 'auto_custom_max' %}
                                {% set sizeAttrs = 'width="{{ logo.lg_logo.max_width|escape_attr }}" height="{{ logo.lg_logo.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                            {% endif %}
                            {% set loadingAttr = logo.lg_logo.loading != 'disabled' ? 'loading="{{ logo.lg_logo.loading|escape_attr }}"' : '' %}
                            <img src="{{ logo.lg_logo.src|escape_url }}" alt="{{ logo.lg_logo.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                        {% else %}
                            <div class="lg-placeholder">
                                <h4 class="font-h4">{{logo.lg_logo_placeholder_text}}</h4>
                            </div>
                        {% endif %}
                    </div>


                </div>              
            {% endfor %}
        </div>
    </div>
</div>