
.logo-grid{
    text-align: center;
}

.lg-heading{
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.lg-light-heading{
    color: var(--midnight-blue);
}
.lg-dark-heading{
    color: var(--pure-white);
}

.lg-inner{
    padding: var(--padding-lg) 0px;
}

.lg-placeholder{
    width: 160px;
    height: 100px;
    background-color: color-mix(in srgb, var(--pure-white), var(--midnight-blue-10));
    color: var(--midnight-blue-75);
    padding: var(--padding-md-lg) var(--padding-md);
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

