<div class="table-container">
<table>
{% for row in module.table_row %}
    <tr>
    {% for column in row.table_column %}
        <{% if column.is_heading %}th{%else%}td{%endif%} class="{{column.column_type}}-column">
            {% if column.column_type == "text" %}
                <p>{{column.text}}</p> 
            {% elif column.column_type == "date"  %}
                <span class="date">{{column.date}}</span>
            {% elif column.column_type == "status"  %}
                <span class="status status-{{column.status}}"><div class="status-icon"></div>{{column.status_label}}</span>
            {% elif column.column_type == "link"  %}
                
                <link-eu-wc 
                            data-text="{{ column.link_text_field }}"
                            att-type="{{ column.link_type }}"
                            att-disabled="{{ column.link_disabled }}"
                            att-url="{{ column.link_url_field.href }}"
                            att-leading-icon="{{column.link_leading_icon}}"
                            att-trailing-icon="{{column.link_trailing_icon}}"
                            att-size="{{ column.link_size }}"
                ></link-eu-wc>


            {% endif %}
        </{% if column.is_heading %}th{%else%}td{%endif%}>
    {% endfor %}
    </tr>
{% endfor %}
</table>
</div>