
.table-container {
    overflow: auto;
}

table {
    border: none;
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
}

table th, table td {
    border: none;
    border-bottom: 1px solid var(--midnight-blue-5);
    padding: var(--padding-md) var(--padding-md-lg);
    max-width: 400px;
    vertical-align: middle;
    min-width: 200px;
}

table td {
    background-color: var(--pure-white);
}

table th {
    color: var(--pure-white);
    background-color: var(--midnight-blue);
    border-bottom: 1px solid color-mix(in srgb, var(--pure-white), var(--midnight-blue-75));;

    font-family: var(--body-semibold-font-family);
    font-size: var(--body-semibold-font-size);
    font-weight: var(--body-semibold-font-weight);
    line-height: var(--body-semibold-line-height);

}


table .empty-column {
    background-color: transparent;
}

table td.status-column {
    min-width: 120px;
}

table td p, table td span {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--charcoal-black);
}

table td .status {
   
    padding: var(--padding-xs) var(--padding-sm);
    border-radius: 16px;
    display: inline-block;
}


table td .status-icon {
    
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: var(--margin-xs);
}

table td .status-green {
    background-color: var(--success-green-10);
}
table td .status-green .status-icon {
    background-color: var(--success-green);
}

table td .status-grey {
    background-color: var(--midnight-blue-5);
}
table td .status-grey .status-icon {
    background-color: var(--charcoal-black-25);
}

table td .status-orange {
    background-color: rgba(254, 140, 34, 0.1);
}
table td .status-orange .status-icon {
    background-color: rgba(254, 140, 34, 1);
}

table td .status-red {
    background-color: var(--crimson-red-10);
}
table td .status-red .status-icon {
    background-color: var(--crimson-red);
}

table td .status-yellow {
    background-color: rgba(244, 235, 11, 0.1);
}
table td .status-yellow .status-icon {
    background-color: rgba(244, 235, 11, 1);
}